*.o
*.n64
.vscode/*
*.d
*.out
core

levelbuilder/levelbuilder
levelbuilder/output/*

sound/clips/*

src/levels/**/*.c
src/levels/**/*.h
src/levels/**/*.ply
src/collision/geo/*.inc.c

launch/last_launch.txt

build/*