*.o
*.n64
.vscode/*
*.d
*.out
core

levelbuilder/levelbuilder
levelbuilder/output/*

slidebuilder/slidebuilder

sound/clips/*.wav
sound/clips/*.aif
sound/clips/*.aiff
sound/introcutscene/*
sound/instruments/*
sound/instruments_full/*
sound/ins/sounds/*.aif
sound/ins/sounds/*.wav
sound/ins/sounds/*.aiff

imageslides/*.o

src/levels/**/*.c
src/levels/**/*.h
src/levels/**/*.ply
src/collision/geo/*.inc.c
src/debugger/usb.*

src/cutscene/slides.h
src/cutscene/slides.c

launch/last_launch.txt

build/*

src/gfxvalidator